.content_header{
    display: flex;
    justify-content: center;
}

.content_header_links{
    position: fixed;
    animation-name: headerShadow;
    animation-timeline: scroll();
}
@keyframes headerShadow {
    5%{
        box-shadow: 0 3px 10px #b2babb;
        border-radius: 20px;
        background-color: #BFC9CA;
    }
    100%{
        box-shadow: 0 0 10px #b2babb;
        border-radius: 20px;
        background-color: #BFC9CA;
    }
    
}


/* -----------------Icons Styles----------------------------*/
.content_header img{
    width: 17px;
    height: 17px;
}



/* -----------------Button Styles----------------------------*/
.content_header button{
    width: auto;
    display: flex;
    font-family: "Jost", sans-serif;
    margin-bottom: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    img{
        margin-left: 5px;
    }
}
.dark{
    color: white;
    background-color: #147e88;
}
.dark:hover{
    background-color: #45B39D;
}
.ligth{
    color: black;
    background-color: #F2F3F4;
}
.ligth:hover{
    background-color: #FCF3CF;
}


/* --------------------Links Styles------------------------- */
.content_header_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 40px;
    /* border-style: solid;
    border-color: black;
    border-radius: 20px; */
}

.content_header a{
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: bold;
    color: black;
}

.Dark_mode a{
    color: #F8F9F9;
}
.content_header a:hover{
    color: #F5B041;
}

/* Response Diding */

@media(width < 500px){
    .content_header{
        width: auto;
    }
 .content_header_links{
    font-size: x-small;
    justify-content: center;
    width: 300px;
    a{
        margin-right: 10px;
    }
 }
 .content_header_links button span{
    font-size: x-small;
 }
}